@page
@model CO550_ChipmunkCurrencyConverter.Pages.IndexModel
@{
}
<h1>Chipmunk Currency Converter</h1>

<h4>Current exchange rate: </h4>
<style>
table {
  font-family: arial;
  width:50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
    <tr>
        <th>Currency</th>
        <th>Rate</th>
    </tr>
    <tr>
        <td>GBP</td>
        <td>£1</td>
    </tr>
    <tr>
        <td>EUR</td>
        <td>€@this.Model.EUR</td>

    </tr>
</table>

</br>
<h4>Please enter the amount you want to convert: </h4></br>
<form method="POST">
    <div>Amount: £<input asp-for="inputAmount" type="number"/></div> <input type="submit" />
</form>
<br />
<h4>You now have: <div id="result">€ @this.Model.outputAmount</div></h4>
