@page
@model CO550_ChipmunkCurrencyConverter.Pages.IndexModel
@{
}
<h1>Chipmunk Currency Converter</h1>

<h3>Current exchange rate: </h3>
<p>GB: £1</p>
<p>EURO: €@this.Model.EUR</p>

<h3>Please enter the amount you want to convert: </h3>
<form method="POST">
    <div>Amount: <input asp-for="inputAmount" type="number"/></div> <input type="submit" />
</form>
<br />
<div id="result">€ @this.Model.outputAmount</div>
